body{
	padding-top: 40px;
	font-family: avian, verdana;
 /*   scrollbar-face-color: #000000;  
    scrollbar-shadow-color: #2D2C4D;  
    scrollbar-highlight-color:#7D7E94;  
    scrollbar-3dlight-color: #7D7E94;  
    scrollbar-darkshadow-color: #2D2C4D;  
    scrollbar-track-color: #7D7E94;  
    scrollbar-arrow-color: #C1C1D1;  */ 
}
a, a:active,a:visited,a:hover, a:link {
  text-decoration: none;
}
/*scrollbar*/
.scrollbar{

height:466px;
background-color:#fff;
margin: 0;
overflow-y:scroll;
}

 
#css_version::-webkit-scrollbar {
    width: 11px;
}
 
#css_version::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 11px;
    border-radius: 11px;
}
 
#css_version::-webkit-scrollbar-thumb {
    -webkit-border-radius: 11px;
    border-radius: 11px;
    background: rgba(181,173,140,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#css_version::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,204,0,1);
}



.logo-head {
	width: 70%;
  margin-left: 33%;
}
.icon-bar{
  background-color: #000;
}
.navbar-collapse {
  float: right;
}
.navbar{
  margin-bottom: 0;
  background-color: #fff;
  height: 66px;
}
.navbar-brand{
  padding: 10px 15px;
}
.button {
  float: left;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.bg-1 .button {
  color: #37474f;
  border-color: #37474f;
}

.button--itzel {
  border: none;
  padding: 0px;
  overflow: hidden;
  width: 155px;
}
.button--text-thick {
  font-weight: 600;
}

.aside {
  position: fixed;
  top: 61px;
  z-index: 1031;
}
.button-tag{
  width: 90%;
  border: 3px solid #ffd52b;
  padding: 5px;
  margin: 5px 10px;
}

/*.button-tag-disable{
  width: 90%;
  padding: 5px;
  margin: 5px 10px;
  border: 2px solid #c2b996;
  display: inline-block;
  background-color: #c2b996;
  color: #fff;
}*/

ul {
  list-style: none;
  padding: 0 5px;
}
ul li {
  padding: 0.2em;
}

label.styled {
  background-color: #c2b996;
  display: block;
  width: 300px;
  text-align: center;
  padding: 0.4em 1.5em 0.4em 2.5em;
  color: #fff;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
label.styled:before {
  content: '✖';
  font-size: 25px;
  color: #fff;
  width:30px;
  height:100%; 
  background-color: #ffd52b;
  position: absolute;
  top:0;
  left:100%;
  transition: all 0.4s ease;
  opacity: 0;
  border-right: 2px solid #fff;
}
label.styled:hover:before {
  left: 98%;
  opacity: .3;
}
input.styled {
  display: none;
}

/* :: CHECKED :: */
input.styled:checked ~ label.styled {
  background-color: #c2b996;
  animation: throw 0.5s linear;
}
input.styled:checked ~ label.styled:before {
  left:0px;
  opacity: 1;
}
@keyframes throw {
   0%,63% {margin-left: 0;}
   64% {margin-left: -5px;}
   100% {margin-left: 0;}
}



aside .input-close{
  display: inline-block;
  position: relative;
  color: #fff;
  right: 5px;
  top: 0;
}
.button--itzel span{
  padding: 15px;
}
.button__icon.icon.icon-login{
  background-image: url(../images/icon-login.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  left: 52%;
}
.button__icon.icon.icon-info{
	background-image: url(../images/icon-info.png);
	background-size: 30px 30px;
	background-repeat: no-repeat;
  left: 53%;
}

.button__icon.icon.icon-new{
  background-image: url(../images/icon-new.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  left: 53%;
}

article{
  border-bottom: 2px solid #fff;
  height: 110px;
}

.main{
  background-color: #A19974;
  float: left;
  left: 16.3%;
  top: 26px;
  position: relative;
  padding: 0;
}
.project1{
  height: auto;
  border-bottom: 3px solid #fff;
}
.img-responsive{
  margin: 12px auto;
}
.info-project{
  padding: 10px;
  font-size: 0.9em;
  background-color: #c2b996;
  border-left: 2px solid #fff;
  border-right: 5px solid #fff;
  height: 108px;
}
.author{
  font-weight: 900;
}
.link{
  font-size: 0.8em;
  font-weight: 900;
  float: right;
  color: #fff;
}
.link:hover{
  color: #444;
}
.votes-project{
  display: block;
  color: #fff;
  font-size: 0.7em;
  font-weight: 900;
  padding-top: 5px;
}
.votes-text{
  padding-top: 12px;
}
.positive-votes{
  width: 40px;
  height: 40px;
  background-image: url(../images/icon-up.png);
  background-size: 40px;
  margin: 5px auto;
  display: inherit;
  text-align: center;
}
.negative-votes{
  width: 40px;
  height: 40px;
  background-image: url(../images/icon-down.png);
  background-size: 40px;
  margin: 5px auto;
  display: inherit;
  text-align: center;

}

/*modal*/


@media (min-width: 768px){
    .modal-dialog {
      width: 730px;
      margin: 60px auto;
    }
}
.close{
  position: absolute;
  right: 10px;
  top: 5px;
  color: #c2b996;
  opacity: 1;
}

.modal-container{
    width: 100%;
    background-color: #fff;
}
.modal-content{
    margin: 0 auto;
    border-radius: 0;
    box-shadow: none;
    border: none;
    padding: 0 62px;
}

.modal-header,
.modal-footer {
  height: 70px;
  text-align:center;
  background-color: #c2b996;
  padding:0;
}

.modal-body {
  padding:0;
  background-color: #c2b996;

}

.modal-header {
  padding-top: 8px;
  border-bottom: 0;
}

.modal-header-content,
.modal-footer-content {
  height: 100%;
  background-color:#fff;
  width:100%;
}
.modal-footer-content {
  padding: 20px;
}

.login-link, .login-link:visited, .login-link:active, .login-link:link{
  color: #c2b996;
  margin: auto;
  padding:0 20%;
}
.login-link:hover{
  text-decoration: none;
  font-weight: 900;
  color: #c2b996;
}

.checkbox{
  display: inline-block;
}

.remember{
  margin: 10px;
}

.rememberme-text{
  font-size: 0.7em;
  display: inline-block;
  vertical-align: super;
}
.modal-footer {
  padding-bottom: 8px;
  border-top: 0;
}

.modal-header .logo{
  height: 40px;
  margin-top: 10px;
}

.modal .separator{
  position: absolute;  
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0.7em;
  font-weight: 900;
  background:#ffd52b;  
  border: 4px solid #ffd52b;
  border-radius: 20px;
}

.separator-line{
  position: absolute;  
  left: 50%;
  height: 100%;
  width: 2px;
  background-color: #fff;
  color: #fff;
}

.modal-margin{
  height: 8px;
  background-color: #c2b996;
  width: 100%;
}

.form-group{
  position: relative;
  margin: 10px;
}
.form-group .login-field-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all 0.25s ease 0s;
    padding-top: 2%;
}
.modal-social-icons{
  padding: 0;
  margin: 10px;
}
.modal-social-icons .btn{
  margin-bottom: 10px;  
  width: 100%;
  padding: 6px 12px;
}
.modal-icons {
  float: left;
  font-size: 1.4em;

}
.modal-body-left{
  float:left; 
  width:50%; 
  padding-right:2%; 
}

.modal-body-right{
  float:right; 
  width:50%;
  padding-left:2%; 
}

.form-right{
  margin: 0;
}
.form-right .field-envelope{
  padding-left: 45px;
}
.form-right .mail-icon{
  left: 15px;
  font-size: 20px;
  position: absolute;
  top: 4px;
  transition: all 0.25s ease 0s;
  padding-top: 2%;
}


.modal-login-btn,
.modal-login-btn:visited,
.modal-login-btn:active,
.modal-login-btn:link{
  width:100%;
  height:40px;
  background-image: linear-gradient(to bottom,#ffd52b 0,#d9af07 100%);
  background-position: top;
  background-color: #ffd52b;
  border-color: #d9af07;
}

.modal-login-btn:hover{
  background-image: linear-gradient(to top,#ffd52b 0,#d9af07 100%);
  background-position: top;
  border-color: #d9af07;
}

.modal-register-btn{
  margin: 4% 33% 2% 33% ;
  width:100%;
}

.modal-body .form-group input{
  height:40px; 
  box-shadow: none; 
  border:1px solid #ddd;
}

h1{
  border-bottom:5px solid #00BB64;
}

@media only screen and (max-width: 992px){
  /* phones */
  #navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
  }
  #navbar-header {
    margin-left: -15px;
    margin-right: -15px;
  }
  .logo-head {
  width: 70%;
  margin-left: 10%;
}


@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}