//modal

.summary
    position: fixed
    top: 0
    right: 0
    bottom: 0
    z-index: 99988
    width: 100%
    height: 100%
    background-color: rgba(255, 255, 255, 0.95)
    text-align: center

.summary-list 
    position: absolute
    width: 20%
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    list-style: none

