<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Well Crafted Projects</title>
	<meta name="description" content="Software Projects Well Crafted">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/vendor/normalize.css">
	
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="stylesheet" href="http://tympanus.net/Development/ButtonStylesInspiration/css/buttons.css">
  <link rel="stylesheet" href="css/vendor/font-awesome.min.css"/>
	
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">

  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="js/vendor/jquery-1.10.2.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target="#my-navbar">
	  <nav class="navbar navbar navbar-fixed-top" id="my-navbar">
  		<div class="container">
  			<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  				<a href="" class="navbar-brand"><img class="logo-head" src="images/logo-wcp2.png"></a>
  			</div>
  			<div class="collapse navbar-collapse" id="navbar-collapse">
   				<ul class="nav navbar-nav">
  					<li>
  						<button class="button button--itzel button--text-thick">
  							<i class="button__icon icon icon-info"></i>
  							<span>ABOUT</span>
  						</button>
  					</li>	
  					<li>
						<button class="button button--itzel button--text-thick" id='modal-launcher' data-toggle="modal" data-target="#login-modal">
  							<i class="button__icon icon icon-login"></i>
  							<span>LOG-IN</span>
  						</button>
  					</li>
            <li>
              <button class="button button--itzel button--text-thick">
                <i class="button__icon icon icon-new"></i>
                <span>NEW PROJECT</span>
              </button>
            </li> 
  				</ul>
  			</div>
  		</div>
  	</nav>
  	<aside class="col-sm-2 aside">
      <input type="text" class="button-tag" id="tag" placeholder="Add Filter">
     <!--  <div class="button-tag-disable" id="tag">Filter added
        <button type="button" class="close input-close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="button-tag-disable" id="tag">Filter added
        <button type="button" class="close input-close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
  	 -->
      <ul>
        <li>
          <input type="checkbox" class="styled" id="b_1">
          <label class="styled" for="b_1">Filter Added 1</label>
        </li>
        
        <li>
          <input type="checkbox" class="styled" id="b_2">
          <label class="styled" for="b_2">Filter Added 2</label>
        </li>
        
        <li>
          <input type="checkbox" class="styled" id="b_3">
          <label class="styled" for="b_3">Filter Added 3</label>
        </li>
        
      </ul>
    </aside>
    
    <div class="scrollbar" id="css_version">

      <div role="main" class="col-sm-10 main scroll-content">
      	<article>
      		<section class:"project1">
            <div class="col-sm-2 image-project">
             <img src="images/runu.png" class="img-responsive" alt="image">
            </div>          
            <div class="col-sm-9 info-project">
              <p class="author">Author´s Name</p>
              <p class="projects">Project´s decription. Project´s decription. Project´s decription.</p>
              <a href="" class="link">https://github.com/runu/runu.github.io</a>
            </div>
            <div class="col-sm-1 votes-project">
               <div class="positive-votes"><p class="votes-text">5</p></div>
               <div class="negative-votes"><p class="votes-text">2</p></div>
            </div>
      		</section>
      	</article>
        
        <article>
          <section class:"project2">
            <div class="col-sm-2 image-project">
             <img src="images/new-project.jpg" class="img-responsive" alt="image">
            </div>          
            <div class="col-sm-9 info-project">
              <p class="author">Author´s Name</p>
              <p class="projects">Project´s decription. Project´s decription. Project´s decription.</p>
              <a class="link">https://github.com/runu/runu.github.io</a>
            </div>
            <div class="col-sm-1 votes-project">
               <div class="positive-votes"><p class="votes-text">7</p></div>
               <div class="negative-votes"><p class="votes-text">5</p></div>
            </div>
          </section>
        </article>

        <article>
          <section class:"project2">
            <div class="col-sm-2 image-project">
             <img src="images/new-project.jpg" class="img-responsive" alt="image">
            </div>          
            <div class="col-sm-9 info-project">
              <p class="author">Author´s Name</p>
              <p class="projects">Project´s decription. Project´s decription. Project´s decription.</p>
              <a class="link">https://github.com/runu/runu.github.io</a>
            </div>
            <div class="col-sm-1 votes-project">
               <div class="positive-votes"><p class="votes-text">7</p></div>
               <div class="negative-votes"><p class="votes-text">5</p></div>
            </div>
          </section>
        </article>

        <article>
          <section class:"project2">
            <div class="col-sm-2 image-project">
             <img src="images/new-project.jpg" class="img-responsive" alt="image">
            </div>          
            <div class="col-sm-9 info-project">
              <p class="author">Author´s Name</p>
              <p class="projects">Project´s decription. Project´s decription. Project´s decription.</p>
              <a class="link">https://github.com/runu/runu.github.io</a>
            </div>
            <div class="col-sm-1 votes-project">
               <div class="positive-votes"><p class="votes-text">7</p></div>
               <div class="negative-votes"><p class="votes-text">5</p></div>
            </div>
          </section>
        </article>

        <article>
          <section class:"project2">
            <div class="col-sm-2 image-project">
             <img src="images/new-project.jpg" class="img-responsive" alt="image">
            </div>          
            <div class="col-sm-9 info-project">
              <p class="author">Author´s Name</p>
              <p class="projects">Project´s decription. Project´s decription. Project´s decription.</p>
              <a class="link">https://github.com/runu/runu.github.io</a>
            </div>
            <div class="col-sm-1 votes-project">
               <div class="positive-votes"><p class="votes-text">7</p></div>
               <div class="negative-votes"><p class="votes-text">5</p></div>
            </div>
          </section>
        </article>
      </div>
    </div>

<!-- modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <div class="modal-header">
                <div class="modal-header-content">
                    <img class="logo" src="images/logo-wcp2.png">
                </div>
              </div>
              <div class="modal-body">
                <div id='social-icons-container'>
                  <div class='modal-body-left'>
                    <div class="form-group">
                          <input type="text" id="username" placeholder="Enter your name" value="" class="form-control login-field">
                          <i class="fa fa-user login-field-icon"></i>
                      </div>

                      <div class="form-group">
                          <input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field">
                          <i class="fa fa-lock login-field-icon"></i>
                      </div>

                      <div class="form-group">
                          <a href="#" class="btn btn-success modal-login-btn">Login</a>
                      </div>

                      <div class="remember">
                        <input id="rememberme" type="checkbox" class="checkbox" />
                        <label for="rememberme" class="rememberme-text">Remember me</label>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="separator-line">
                    <div class="separator"> OR </div>
                  </div>
                  <div class='modal-body-right'>
                    <div class="modal-social-icons">
                      <a href='#' class="btn btn-default bitbucket"> <i class="fa fa-bitbucket modal-icons"></i> Sign In with BitBucket </a>
                      <a href='#' class="btn btn-default github"> <i class="fa fa-github modal-icons"></i> Sign In with GitHub </a>
                      <div class="form-group form-right">
                          <i class="fa fa-envelope mail-icon"></i>
                          <input type="text" id="email" placeholder="Sing In with mail" value="" class="form-control login-field field-envelope">
                          <input type="text" id="username" placeholder="Enter your name" value="" class="form-control login-field">
                          <input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field">

                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>

                </div>
              </div>
              <div class="modal-footer">
                  <div class="modal-footer-content">
                      <a href="#" class="login-link text-center">Forgot your password?</a>
                  </div>
              </div>
            </div>
        </div>
</div>

<script type="text/template" id="project_template">
  <% _.each(projects, function(project) { %>
    <article>
      <section>
        <div class="col-sm-2 image-project">
          <img src="<%= project.image %>" class="img-responsive" alt="image">
        </div>
        <div class="col-sm-9 info-project">
          <p class="author"><%= project.author%></p>
          <p class="projects"><%= project.description%></p>
          <a href="" class="link"><%= project.url%></a>
        </div>
        <div class="col-sm-1 votes-project">
          <div class="positive-votes"><p class="votes-text"><%= project.positives%></p></div>
          <div class="negative-votes"><p class="votes-text"><%= project.negatives%></p></div>
        </div>
      </section>
    </article>
  <% }) %>
</script>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/lib/libs.js"></script>
    <script src="js/app.js"></script>
</body>